*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.slide{
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.slide.active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.one{
    background: url(../image/one.jpg) no-repeat center / cover;
}
.two{
    background: url(../image/two.jpg) no-repeat center / cover;
}
.three{
    background: url(../image/three.jpg) no-repeat center / cover;
}
.four{
    background: url(../image/four.jpg) no-repeat center / cover;
}

.prev{
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.next{
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}